body {
  overflow-x: hidden;
}

.featuredPost {
  width: 100%;
  height: 100%;
}

.newCard:hover {
  opacity: 0.5;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px;
  -moz-box-shadow: 0 0 5px;
}

.post a {
  color: black;
  text-decoration: none;
}
.post a:hover {
  color: black;
  text-decoration: none;
}

.cardIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.1em 0.1em;
  margin-right: 5%;
  object-fit: cover;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero {
  text-align: center;
  text-align: -webkit-center;
  word-break: break-all;
}

.exitIcon {
  text-align: right;
  text-align: -webkit-right;
}

.sectionLayout--toolBar {
  top: 0;
  background-color: lightgrey;
}

.sectionLayout--insetColumn {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sectionLayout--insetColumn a {
  cursor: pointer;
}

.graf--p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.graf--h3 {
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

.graf--title {
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  font-size: 42px;
  line-height: 1.04;
  letter-spacing: -0.015em;
  padding-top: 5px !important;
}

.defaultValue {
  color: #b3b3b1;
}

.newPostModal {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.viewArticle {
  padding-top: 5%;
}

/*# sourceMappingURL=main.css.map */
