
.settings-page {
  .hero {
    text-align: center;
  }

  .settingsBlock{
    width: 100%;
    height: 100%;
    background-color: #9fcdff;
  }
}
.option{
  &-hero{
    width: 100%;
    height: 50px;
    text-align: center;

  }
}
.avatar{
  width:250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 130px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.1em 0.1em;

}
.cont{
  position: relative;
  margin: 0 auto;
  width: max-content;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  border-radius: 0 0 130px 130px;
  height: 125px;
  width:250px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.cont:hover .overlay {
  opacity: 1;
}
